@font-face {
    font-family: 'Fira-Code-Bold-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Bold-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Bold-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Bold-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-Bold-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Bold-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Bold-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Bold-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'Fira-Code-Light-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Light-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Light-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Light-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-Light-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Light-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Light-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Light-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'Fira-Code-Medium-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Medium-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Medium-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Medium-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-Medium-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Medium-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Medium-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Medium-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'Fira-Code-Regular-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Regular-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Regular-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Regular-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-Regular-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Regular-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Regular-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Regular-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'Fira-Code-Retina-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Retina-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Retina-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Retina-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-Retina-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Retina-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-Retina-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-Retina-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'Fira-Code-SemiBold-Nerd-Font-Complete-Mono-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-SemiBold-Nerd-Font-Complete-Mono-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-SemiBold-Nerd-Font-Complete-Mono';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-SemiBold-Nerd-Font-Complete-Mono.ttf);
}

@font-face {
    font-family: 'Fira-Code-SemiBold-Nerd-Font-Complete-Windows-Compatible';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-SemiBold-Nerd-Font-Complete-Windows-Compatible.ttf);
}

@font-face {
    font-family: 'Fira-Code-SemiBold-Nerd-Font-Complete';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/FiraCode/Fira-Code-SemiBold-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: 'iosevka-aile-bold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-bold.ttf);
}

@font-face {
    font-family: 'iosevka-aile-bolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-bolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-boldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-boldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extrabold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extrabold.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extrabolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extrabolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extraboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extraboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extralight';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extralight.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extralightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extralightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-extralightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-extralightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-heavy';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-heavy.ttf);
}

@font-face {
    font-family: 'iosevka-aile-heavyitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-heavyitalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-heavyoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-heavyoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-italic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-italic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-light';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-light.ttf);
}

@font-face {
    font-family: 'iosevka-aile-lightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-lightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-lightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-lightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-medium';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-medium.ttf);
}

@font-face {
    font-family: 'iosevka-aile-mediumitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-mediumitalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-mediumoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-mediumoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-oblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-oblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-regular';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-regular.ttf);
}

@font-face {
    font-family: 'iosevka-aile-semibold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-semibold.ttf);
}

@font-face {
    font-family: 'iosevka-aile-semibolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-semibolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-semiboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-semiboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-aile-thin';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-thin.ttf);
}

@font-face {
    font-family: 'iosevka-aile-thinitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-thinitalic.ttf);
}

@font-face {
    font-family: 'iosevka-aile-thinoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Aile/iosevka-aile-thinoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-bold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-bold.ttf);
}

@font-face {
    font-family: 'iosevka-term-bolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-bolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-boldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-boldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extended';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extended.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedbold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedbold.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedbolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedbolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextrabold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextrabold.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextrabolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextrabolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextraboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextraboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextralight';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextralight.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextralightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextralightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedextralightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedextralightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedheavy';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedheavy.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedheavyitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedheavyitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedheavyoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedheavyoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendeditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendeditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedlight';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedlight.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedlightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedlightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedlightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedlightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedmedium';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedmedium.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedmediumitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedmediumitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedmediumoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedmediumoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedsemibold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedsemibold.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedsemibolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedsemibolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedsemiboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedsemiboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedthin';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedthin.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedthinitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedthinitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extendedthinoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extendedthinoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extrabold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extrabold.ttf);
}

@font-face {
    font-family: 'iosevka-term-extrabolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extrabolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extraboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extraboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-extralight';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extralight.ttf);
}

@font-face {
    font-family: 'iosevka-term-extralightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extralightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-extralightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-extralightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-heavy';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-heavy.ttf);
}

@font-face {
    font-family: 'iosevka-term-heavyitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-heavyitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-heavyoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-heavyoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-italic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-italic.ttf);
}

@font-face {
    font-family: 'iosevka-term-light';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-light.ttf);
}

@font-face {
    font-family: 'iosevka-term-lightitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-lightitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-lightoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-lightoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-medium';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-medium.ttf);
}

@font-face {
    font-family: 'iosevka-term-mediumitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-mediumitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-mediumoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-mediumoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-oblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-oblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-regular';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-regular.ttf);
}

@font-face {
    font-family: 'iosevka-term-semibold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-semibold.ttf);
}

@font-face {
    font-family: 'iosevka-term-semibolditalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-semibolditalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-semiboldoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-semiboldoblique.ttf);
}

@font-face {
    font-family: 'iosevka-term-thin';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-thin.ttf);
}

@font-face {
    font-family: 'iosevka-term-thinitalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-thinitalic.ttf);
}

@font-face {
    font-family: 'iosevka-term-thinoblique';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/Iosevka/Term/iosevka-term-thinoblique.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-Black';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-Black.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-BlackItalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-BlackItalic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-Bold';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-Bold.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-BoldItalic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-BoldItalic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-Italic';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-Italic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC-Regular';
    src: url(https://github.com/arnos-stuff/fonts/raw/main/PlayFair-Display/PlayfairDisplaySC-Regular.ttf);
}

